form {
    width: 100%; // Fix IE 11 issue
    margin-top: 200px;
}

.alert {
    margin-top: 20px;
}

.rssInput {
    position: relative;
}

.rssIcon, .errorIcon, .loadingIcon {
    position: absolute;
    top: 30px;
    right: -30px;
}

.loadingIcon {
    width: 200px;
    right: -120px;
    box-shadow: none;
}